:root {
  --white: #ffffff; //bg
  //purples
  --light-purple: #a5a6f6;
  --dark-purple: #7879f1;
  //greys
  --grey-lightest: #f9f9f9; //bg
  --grey-light: #c0c0c0;
  --grey-scroll: #ebebeb;
  --grey-med: #a4a4a4;
  --grey-dark: #676767;

  --accent-1: #ff906d;
}
