:root {
    
    --white : #FFFFFF; //bg
    //purples
    --light-purple : #A5A6F6;
    --dark-purple: #7879F1;
    //greys
    
    --grey-lightest : #F9F9F9 ; //bg
    --grey-light:#C0C0C0;
    --grey-scroll: #EBEBEB;
    --grey-med : #A4A4A4;
    --grey-dark :#676767;

    --accent-1: #FF906D;
}