/* width */
.Container__patients::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.Container__patients::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ebebeb;
  //border-radius: 10px;
}

/* Handle */
.Container__patients::-webkit-scrollbar-thumb {
  background: var(--grey-scroll);
  height: 20px;
  border-radius: 10px;
}
