@import "utility/color";
@import "utility/reset";
@import "utility/units";
@import "utility/fonts";
@import "utility/scrollbar";

body {
  font-family: var(--font-primary);
}

.Container {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: var(--grey-lightest);
  border-radius: 30px;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 12vh 65vh 23vh;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 0 var(--row-pad);
  }

  &__units {
    grid-row: 1/4;
    grid-column: 1;
    border-right: 3px solid rgba(229, 229, 229, 0.19);
    background-color: var(--white);
    flex-flow: column;
    align-items: center;
  }

  nav {
    ul {
      list-style: none;
    }

    button {
      background: none;
      border: none;
    }
  }

  &__patients {
    grid-row: 2;
    grid-column: 2;
    overflow: scroll;
    overflow-x: hidden;
    table {
      width: 90%;
      border-spacing: 0 15px;
      margin: 0 auto;
    }
    tr:not(:first-child) {
      //Skip Labels
      background-color: var(--white);
    }
    th:first-child {
      //Name Label
      padding: var(--row-pad) 0 var(--row-pad) var(--row-pad);
    }
    td {
      padding: var(--row-pad) 0;
    }
    td:first-child {
      //Name Entry
      padding: var(--row-pad) 0 var(--row-pad) var(--row-pad);
    }
  }
  &__lower {
    grid-row: 3;
    grid-column: 2;
  }
  &__staff {
    display: flex;
    & > * {
      flex: 1 1 0;
    }
  }
}
.PtTable {
  &__categories {
    background-color: var(--lightblue);
  }
}
.Logo {
  &__img {
    width: 3.5rem;
  }

  &__title {
    font-family: var(--font-accent);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.12em;
    align-self: center;
  }
}

time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #a4a4a4;
}

//buttons
.Button {
  &__refresh {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: var(--light-purple);
    border-radius: 7px;
    border: none;
  }
  &:hover {
    background-color: var(--dark-purple);
    transform: scale(0.95);
  }
  &__logout {
    position: absolute;
    bottom: 10%;
  }
}

//helper classes
.Flex {
  display: flex;
  &__row {
    flex-direction: row;
  }
  &__col {
    flex-direction: column;
  }
  &__center {
    justify-content: center;
  }
}
.Block {
  display: block;
}
.Align {
  &__right {
    text-align: right;
  }
  &__left {
    text-align: left;
  }
  &__center {
    text-align: center;
  }
}
.Capitalize {
  text-transform: capitalize;
}

.Rounded {
  border-radius: var(--rounded);
}

.Hidden {
  display: none;
}

//Rounded Border Rows
tr td:first-of-type {
  border-top-left-radius: var(--rounded);
  border-bottom-left-radius: var(--rounded);
}

tr td:last-of-type {
  border-top-right-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
}
